#mainContainer {
  margin: 0;
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin-bottom: 3rem;
}

.cocktail-name {
  font-family: Dealers;
  font-size: 1.8rem;
  width: 95%;
  margin: 1.8vh 3vw;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  height: 10px;
  bottom: -2vh;
  left: 0;
  right: 0;
  border-top: 2px solid #f7d5ba;
  border-bottom: 2px solid #f7d5ba;
}

.ingredients {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ba4333;
  text-align: center;
  text-transform: capitalize;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
}

.quote {
  font-family: Baskerville;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 1vh 10vw;
  margin-bottom: 0;
}

.description {
  margin: 2vh 3.5vw;
  margin-bottom: 0;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10vh;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(10vh - 1px);
  width: 100%;
  z-index: 3;
  background-color: #361108;
  color: #ba4333;
}

.section-header {
  font-size: 2em;
  font-weight: bold;
  height: 1.5em;
  display: flex;
  justify-content: center;
  line-height: 1.5em;
}

.image {
  display: flex;
  justify-content: center;
}

#recipe-name {
  margin-bottom: 6vh;
}

.recipe + .ingredients {
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5vw;
  padding: 0.8em;
  border-radius: 0.8em;
  color: #f7d5ba;
}

.instructions {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #f7d5ba;
  margin: 3vw;
  padding: 0.8em;
  border-radius: 0.8em;
}

.source {
  color: #ba4333;
  margin: 5vw;
  font-size: 1.3em;
}

#menu {
  /* position: absolute; */
  position: fixed;
  left: calc(100% - 10vh);
  top: -1px;
  font-size: 40px;
  height: 10vh;
  color: #fff;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  position: fixed;
  left: calc(100% - 10vh);
  top: -1px;
  font-size: 40px;
  height: 10vh;
  color: #fff;
  z-index: 5;
  display: flex;
  align-items: center;
}

.menu-wrapper {
  height: 100%;
  overflow-y: scroll;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #0a0404;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
  overflow-wrap: normal;
}

.menu-header {
  color: #f7d5ba;
  font-size: 2em;
  font-family: Dealers;
  height: 4vh;
  padding: 0;
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: center;
  line-height: 0.5;
}

.menu-open {
  width: 75vw;
}

#sidenav {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

#sidenav a,
#sidenav a:focus,
#sidenav a:active {
  font-family: Dealers;
  font-size: 2em;
  color: #ba4333;
  text-decoration: none;
  font-weight: bold;
  height: 5vh;
  width: 100%;
  margin: 0.5vh 6vw;
}

@media screen and (max-width: 640px) {
  /* Mobile */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .underline::after {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  /* Tablet */
  #mainContainer {
    margin: 0 auto;
    max-width: 95%;
  }

  .menu-open {
    width: 50vw;
  }

  /* Cocktail Cell Grid */
  .container {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }

  .container:nth-child(even) > #cocktail-heading {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .container:nth-child(odd) > #cocktail-heading {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .container:nth-child(even) > .image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .container:nth-child(odd) > .image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .container:nth-child(even) > .quote {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .container:nth-child(odd) > .quote {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .underline::after {
    width: 90%;
  }
}

@media screen and (min-width: 1080px) {
  #mainContainer {
    margin: 0 auto;
    max-width: 70%;
  }

  .menu-open {
    width: 35vw;
  }

  /* Main Page Grid */
  #cocktail-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 49%);
    column-gap: 2%;
  }

  /* Cocktail cell grid */
  .container {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    row-gap: 10%;
    height: 35%;
  }

  .container > #cocktail-heading {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .container > .image {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .container > .quote {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .cocktail-name {
    margin: 0;
    text-align: center;
  }

  .description {
    margin: 0 2vw;
    text-align: center;
  }

  .underline::after {
    display: none;
  }
}
